<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>profile page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        input[type=text], input[type=password] {
                    width: 50%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: 1px solid #d2cece;
                    box-shadow: 4px 2px 13px -3px #cac6c6;
                     border-radius: 7px;

                }

                input[type=text]:focus, input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }


    .logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
        .registerbtn {
                    background-color: rgb(216, 213, 213);
                    color: black;
                    padding: 16px 20px;
                    margin: 19px 0;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    opacity: 0.9;
                    border: 1px solid rgba(162, 163, 167, .1);
    background-color: #abaeb2;
    font-size:16px;
                }
    </style>
</head>
<body>
    <div class="logindiv">
       Profile
        </div>
        <div class="row">
                <div class="col-sm-2">
                   <h4 style="text-align:center"> UserName/Email: <%= data.username%></h4>
                </div>
                    <div class="col-sm-10"></div>
              </div>
              <hr>
              <div class="row">
                    <div class="col-sm-2">
                       <h4 style="text-align:center"> FirstName*</h4>
                    </div>
                        <div class="col-sm-10"><input type="text" value='<%=data.Fname%>' required></div>
                  </div>
                  <div class="row">
                        <div class="col-sm-2">
                           <h4 style="text-align:center"> LastName*</h4>
                        </div>
                            <div class="col-sm-10"><input type="text" value='<%=data.Lname%>' required></div>
                      </div>
                      <div class="row">
                            <div class="col-sm-2">
                               <h4 style="text-align:center">Country*</h4>
                            </div>
                                <div class="col-sm-10"><input type="text" value='<%=data.country%>' required></div>
                          </div>
                      <div class="row">
                            <div class="col-sm-2">
                               <h4 style="text-align:center">Phone*</h4>
                            </div>
                                <div class="col-sm-10"><input type="text" value='<%=data.tele%>' required></div>
                          </div> <div class="row">
                                <div class="col-sm-2">
                                   <h4 style="text-align:center">GSTIN:</h4>
                                </div>
                                    <div class="col-sm-10"><input type="text" value='<%=data.gst%>' required></div>
                                    <div class="row">
                                            <div class="col-sm-3"></div>

                                            <div class="col-sm-3"><input class="registerbtn" type="submit" value="Update Profile" /> </div>
                                          <div class="col-sm-6"></div>
                                          </div>
</body>
</html>
