<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
table, td {
    border: 1px solid black;
}
.logindiv{
            display:subgrid;
            background-color: rgb(9, 63, 9);
                padding: 29px;
                color: white;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:40px;
                margin-bottom: 2%;
                padding:2%;
        }
</style>
  
</head>
<body>
		<div class="logindiv">
				Invoice
				</div>

<div class="container-fluid" style="margin-top:22px;">
<form action="">
  <div class="row">
    <div class="col-sm-7" style="box-shadow:-1px 1px 4px 1px #cac6c6;">
		<h4 style="text-align:center;color:rgb(9, 63, 9);">ORDER FORM</h4><hr><br><br>
		<div class="row">
			<div class="col-sm-2">
				Customer<br><br>
				Address<br><br><br>
				Order Lines
			</div>
			<div class="col-sm-4">
				<input type="text" value="" id="Customer" style="width:145px;" required><br><br>
				<input type="text" value="" id="Address" style="width:145px;" required><br><br>
				<button type="button"  onclick="myFunction()" style="background-color:#1E6A36;color:white;border:2px solid #1E6A36;">Add Line</button>
			</div>
			<div class="col-sm-2">
				Order No<br><br>
				OrderDate
			</div>
			<div class="col-sm-3">
				<button id="randomNumber" onclick="randomNum(6)" style="background-color:#1E6A36;color:white;border:2px solid #1E6A36;">gen</button><input type="text" value="" id="OrderNo" style="width:80px;"><br><br>
				<input type="date" value="" id="OrderDate" style="width:145px;" required><br><br>
				<button type="button" onclick="myDeleteFunction()" style="background-color:#1E6A36;color:white;border:2px solid #1E6A36;">Clear Order</button>
			</div>
		 </div><br><br>
		 
		 <div class="row" style="background-color:#eef3f7;width:99%;margin-left:0px;">
		  <div class="col-sm-1" style="color: #1E6A36;margin-left:-1%;">LNo</div>
		  <div class="col-sm-2" style="color: #1E6A36;margin-left:-3%;">Product</div>
		  <div class="col-sm-3" style="color: #1E6A36;margin-left:-4%;">Item Code</div>
		  <div class="col-sm-2" style="color: #1E6A36;margin-left:-3%;">Cost</div>
		  <div class="col-sm-2" style="color: #1E6A36;margin-left:-2%;">Quantity</div>
		  <div class="col-sm-2" style="color: #1E6A36;margin-left:-4%;">Total</div>
		</div>
		
		<table id="myTable">
		  <tr>
			<td style="width:40px;">1</td>
			<td>
				<select id="item" onchange="func()">
					<option value="100">select</option>
					<option id="laptop" value="200" name="laptop">laptop</option>
					<option value="300">book</option>
					<option value="400">tab</option>
					<option value="500">bag</option>
				</select>
			</td>
			<td><input type="text" value="ufsc152" style="width:150px;"/></td>
			<td><input type="number" value="" id="cost" style="width:150px;"/></td>
			<td><input type="number" min="1" max="5" value="" id="qty" onclick="func()" style="width:80px;"/></td>
			<td><input type="number" value="" id="total" style="width:100px;"></td>
		  </tr>
		  
		</table>
		<br>
		
		
		<div class="row" style="float:right;">
		  Order Total      <button type="button" onclick="disp()" style="margin-bottom:12px;background-color:#1E6A36;color:white;border:2px solid #1E6A36;">Display</button><br/>
		</div>
		
	</div>
    <div class="col-sm-5" style="box-shadow: 4px 2px 13px -3px #cac6c6;">
		<h4 style="text-align:center;color:#1E6A36;">INVOICE</h4><hr><br>
		<p id="showCName" style="color: #b1abab;"></p>
		<p id="showCAdd" style="color: #b1abab;"></p>
		<p id="showCOrderDate" style="color: #b1abab;"></p>
		<p id="showCProduct" style="color: #b1abab;"></p>
		<p id="showCCost" style="color: #b1abab;"></p>
		<p id="showCQuantity" style="color: #b1abab;"></p>
		<p id="showCTotal" style="color: #b1abab;"></p>
	</div>
  </div>
</form>
</div>

<script>
var count=2;
function myFunction() {

    var table = document.getElementById("myTable");
    var row = table.insertRow(0);
	
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
	var cell5 = row.insertCell(4);
	var cell6 = row.insertCell(5);
	
    cell1.innerHTML = count++;
    cell2.innerHTML = '<select id="item" onchange="func()"><option value="100">select</option><option value="200">item1</option><option value="300">item2</option></select>';
	cell3.innerHTML = '<input type="text" value="ufsc152" style="width:150px;"/>';
    cell4.innerHTML = '<input type="number" value="" id="cost" style="width:150px;"/>';
	cell5.innerHTML = '<input type="number" min="1" max="5" value="" id="qty" onclick="func()" style="width:80px;"/>';
	cell6.innerHTML = '<input type="number" value="" id="total" style="width:100px;">';
}

function func(){
		var productName=document.getElementById("item").selectedIndex;
		var productValue=document.getElementsByTagName("option")[productName].value;
		document.getElementById("cost").value=productValue;
		
		var quant=document.getElementById("qty").value;
		var tot=productValue*quant;
		
		document.getElementById("total").value=tot;
}

function myDeleteFunction() {
document.getElementById("myTable").deleteRow(0);
}

function disp(){
	var cust=document.getElementById("Customer").value;
	document.getElementById("showCName").innerHTML="<b>Customer Name : </b>"+cust;
	
	var add=document.getElementById("Address").value;
	document.getElementById("showCAdd").innerHTML="<b>Customer Address : </b>"+add;
	
	var odrDate=document.getElementById("OrderDate").value;
	document.getElementById("showCOrderDate").innerHTML="<b>Ordered Date : </b>"+odrDate;
	
	var cst=document.getElementById("cost").value;
	document.getElementById("showCCost").innerHTML="<b>cost : </b>"+cst;
//var d=document.getElementById('item');
  //d.getElementById('laptop');

	var qn=document.getElementById("qty").value;
	document.getElementById("showCQuantity").innerHTML="<b>quantity : </b>"+qn;
	
	var tt=document.getElementById("total").value;
	document.getElementById("showCTotal").innerHTML="<b>Total : </b>"+tt;
	
//	var itemRead=document.getElementById("item").value;
	//document.getElementById("showCProduct").innerHTML="<hr><b>Product Name : </b>"+itemRead;
}

function randomNum(count1){
  var chars = 'acdefhiklmnoqrstuvwxyz0123456789'.split('');
  var result = '';
  for(var i=0; i<count1; i++){
    var x = Math.floor(Math.random() * chars.length);
    result += chars[x];
  }
  //console.log(result);
  //var r=document.getElementById("randomNumber").value;
  document.getElementById("OrderNo").setAttribute('value',result);
  //console.log(document.getElementById("OrderNo"));
}
</script>
</body>
</html>
