<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        * {
            box-sizing: border-box;
        }
       
        
        .columns {
            float: left;
            width: 33.3%;
            padding: 8px;
        }
        
        .price {
            list-style-type: none;
            border: 1px solid #eee;
            margin: 0;
            padding: 0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
        
        .price:hover {
            box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
        }
        
        .price .header {
            background-color: #111;
            color: white;
            font-size: 25px;
        }
        
        .price li {
            border-bottom: 1px solid #eee;
            padding: 20px;
            text-align: center;
        }
        
        .price .grey {
            background-color: #eee;
            font-size: 20px;
        }
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }
        
        @media only screen and (max-width: 600px) {
            .columns {
                width: 100%;
            }
        }

        /*header part*/

ol, ul {
    list-style: none;
}
.abc{
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: rgb(6, 63, 6);
    text-decoration: none;
}
a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(19, 177, 19);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.s{
    position: sticky;
   
}
.trial{

border: 0px solid black;
text-align: right;
padding-right: 5px;
margin-right: 45px;
}
.aa{
    font-size: 15px;
   display: inline-block;
 background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 

}


input[type=submit]:hover{
    text-decoration:underline;
}
.logo{
            padding: 22px;
            padding-right: 30px;
        }

.class1{

background-color: #2e3339;
  font-weight: 400;
font-size: 16px;
cursor: default;
color: #eeeded;
    padding: 10px;
    font-size: 14px;
        font-family: Roboto,sans-serif;
      
}
.class2{
width: .5rem;

            color: #999;
font-size:12px;
}
.class3{
text-align:center;
}
.class3{
text-align:center;
}
.class4{
display: inline-block;
height: 28px;
width: 28px;
margin-left: 5px;
padding: 0;
background: url(//static.naukimg.com/s/5/100/i/socialSharing.png) repeat-y;
    color: #0074ad;
text-decoration: none;
}

.container-fluid.footerColor {
background-color: #2e3339;
}

button.btn.btn-fb {
background: #3b5998;
color: white;
}
button.btn.btn-tw {
background: #00acee;
color: white;
}

button.btn.btn-gplus {
background:#dd4b39;
 color: white;
}

button.btn.btn-li{
background: #0e76a8;
 color: white;
}



        </style>

</head>

<body>
    <div style="float:right;">
        <p>Trial / Subscription expired?</p>
        <p><a class="aa" href="login.ejs">login</a><span> </span><a class="aa" href="register.ejs">register</a></p>
    </div>
    <br>
    <br>
    <div class="fixed-top" style="padding:22px;padding-right: 30px;top:0px;width: 100%">
        <img src="web-logo..png">
        <nav>
            <ul>
                <li class="abc"><a href="#">Features</a></li>
                <li class="abc"><a href="#">Pricing</a></li>
                <li class="abc"><a href="#">Download</a></li>
                <li class="abc"><a href="#">FAQ</a></li>
                <li class="abc"><a href="#">Contact US</a></li>
            </ul>
        </nav>
    </div>



    <!--corosel-->
    <div class="container-fluid">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="cr1.jpeg" alt="Los Angeles" style="width:; height:450px;">
                </div>

                <div class="item">
                    <img src="cr2.jpg" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="cr3.jpg" alt="New york" style="width:100%;">
                </div>

            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--apple-->
    <p class="aligncenter" style="width:170px;height:60px;margin-left: 104px; margin-top:50px;">
        <img src="apple.png" alt="book keeper iOS logo"></p>
    <p class="aligncenter" style=" 
        
            margin-left: 544px;
            margin-top: -83px;
            height: 10px;">

        <img src="belowcr2.png" alt="logo" width="192" height="70"></p>
    <p class="aligncenter" style="    margin-top: -8px;
              margin-left: 1081px;
        ">
        <img src="belowcr3.png" alt="logo" width="162" height="50"></p>


    <div class="columns">
        <ul class="price">
            <li class="header">Free</li>
            <img style="margin-left: 103px;" alt="Free" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/darefest_icon_set-e1495607201467.png">
            <li class="grey">Completly Free</li>
            <li>30 days FREE trial period</li>
            <li>No signup/credit card required</li>
            <li>Download and start using</li>
            <li>No limitations</li>

            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header" style=" font-size:20px;">Yearly Subscription</li>
            <img style="    height: 67px;
    margin-left: 123px;" alt="Yearly Subscription" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/3.png">


            <li class="grey">Starts at ₹ 2000 or $50 yearly</li>
            <li>Fully Functional</li>
            <li>Plan available for 1 to 5 devices</li>
            <li class="lo">Sync across devices</li>
            <li>FREE updates</li>


            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns">
        <ul class="price">
            <li class="header">Lifetime Plan(10yr)</li>
            <img style="    width: 140px;
    margin-left: 134px;" alt="Lifetime Plan (10 Years)" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/42.png">
            <li class="grey">Starts at ₹ 8000 or $200</li>
            <li>Plan available for 1 to 5 devices</li>
            <li>Sync across devices</li>
            <li>FREE updates</li>
            <li>FREE 24×7 customer support</li>
            <li class="grey"><a href="#" class="button">Sign Up</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img style="border-radius:10%;" src="#" />
                <h3>bhagya</h3>
                <p>Web Designer</p>
            </div>
            <div class="col-sm-4">
                <img style="border-radius:50%;" src="#" />
                <h3>shaik</h3>
                <p>Web Designer</p>
            </div>
            <div class="col-sm-4" style="margin-top: -106px;">
                <img style="border-radius:50%;" src="#" />
                <h3>sampreeth</h3>
                <p>Web Designer</p>
            </div>
        </div>
    </div>

    <!--dfghjk-->
    <div id="features" class=" " style="background-color: #e5e5e5;     height: 207px;">

        <div class="heading2">
            <h2 class="title" style="text-align: center;">Featured In</h2>
        </div>
        <p></p>

        <div class="row">
            <div class="col-sm-3">

                <img style="margin-left:53px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo12.png"
                    alt="grey logo1" width="118" height="75">

            </div>
            <div class="col-sm-3">
                <img src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo22.png" alt="grey logo2" width="118"
                    height="75"></div>
            <div>

                <img src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo31.png" alt="grey logo3" width="118"
                    height="75">
            </div>
            <div class="col-sm-3" style="margin-top:20px; margin-left:1000px;">
                <img class="col-sm-3" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/grey-logo61.png" alt="grey logo6"
                    width="268" height="85" style="    margin-top: -85px;
    width: 133px;
    margin-left: 99px;">
            </div>
            <div class="clear"></div>
            <p></p>

        </div>
    </div><!-- .segment-->



    <!--fsss-->
    <div class="row">
        <div class="col-sm-4">
            <img style="     margin-left: 94px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-2.png"
                alt="icon 2" width="250" height="150">
            <p></p>
            <h4 class="title" align="center">Complete Accounting Package</h4>
            <div class="feature-description" align="center">Invoicing, taxation, receipts/payments, comprehensive
                financial reports and much more.</div>
        </div>

        <div class="col-sm-4">
            <img style="    margin-left: 124px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-32.png"
                alt="icon 3" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Works offline</h4>
            <div class="feature-description" align="center">Manage accounts on the go without any Internet connection.</div>
        </div>
        <div class="col-sm-4"><img style="    margin-left: 135px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-3-new.png"
                alt="icon 3 new" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Easy to use</h4>

            <div class="feature-description" align="center">Provides a simple interface which anyone can understand. No
                prior accounting know-how needed.</div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <img style="    margin-left: 137px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-inventory.png"
                alt="icon 5" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Inventory Management</h4>
            <div class="feature-description" align="center">Manage inventory efficiently; get real time visibility of
                stock, reduce damages, order optimum quantities</div>
        </div>
        <div class="col-sm-4"><img style="    margin-left: 136px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/07/icon-5.png"
                alt="icon 5" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Sync across 3 platforms</h4>
            <div class="feature-description" align="center">Sync your company data across three platforms: Android,
                iOS, Windows PC. Auto sync via Dropbox</div>
        </div>

        <div class="col-sm-4"><img style="    margin-left: 134px;" src="https://bookkeeperapp.net/wp-content/uploads/2014/08/icon-tally.png"
                alt="icon 1" width="150" height="150">
            <p></p>
            <h4 class="title" align="center">Tally™ compatible</h4>
            <div class="feature-description" align="center">Sync your company accounts with Tally™, import existing
                Tally™ Masters into Book Keeper, export Masters and Transactions from Book Keeper to Tally™</div>
            <p style="text-align: center;"></p>
        </div>
        <div class="clear"></div>
        <div style="text-align:center;float:center;">
        </div>
        <!--<div style="font-size:25px;color:white; text-align:center;"><p>Explore More Features</p>
</div>-->
    </div>





    <!--after currosel-->
    <div class="heading2">
        <h2 style="font-size:40px; color:green; text-align:center;">Check out our other Apps</h2>
        <div style="text-align:center;">We specialize in Mobile App design and development.</div>
    </div>
    <div style="    margin-left: 262px;">
        <img src="foo.jpg">
        <p>Teacher/Tutor Earnings Manager</p>
    </div>
    <div>
        <img style="  margin-left: 788px;
        margin-top: -284px;" src="foo2.jpg">
        <p style="    margin-left: 843px;margin-top: -53px;">cheque printing</p>

    </div>
    <!--footer-->
    <footer class="fixed-bottom">
        <nav>

            <div>

                <div class="container-fluid footerColor">
                    <div class="col-sm-3 class1 class3">
                        <p>Information</p>
                        <p class="class2" style="margin-left:127px;">
                            AboutUs<br><br>
                            Terms&Conditions<br><br>
                            PrivacyPolicy<br><br>
                            CareerswithUs<br><br>
                            Sitemap<br><br>
                        </p>

                    </div>
                    <div class="col-sm-3 class1 ">

                        <p>Contact us


                            <p class="class2" style="text-align:justify;">
                                JustAppsPvt.Ltd.<br><br>
                                ConnaughtPlaceNew<br>Delhi110001<br><br>
                                BlockCompanies<br><br>
                                support@bookkeeperapp.net<br><br>
                                ReportProblem<br><br>
                                Blogs<br><br>






                            </p>
                    </div>
                    <div class="col-sm-3 class1">
                        <p> Resources</p>
                        <p class="class2">
                            TermsofService<br><br>
                            PrivacyPolicy<br><br>
                            RefundPolicy<br><br>
                            License<br><br>


                        </p>

                    </div>
                    <div class="col-sm-3 class1">
                        <p>Employers</p>
                        <div>
                            <div class="class2">
                                PostJobs<br><br>
                                AccessDatabase<br><br>
                                RecruitersfromUSA,call<br><br>
                                TollFree#18665573340<br><br>

                                <a style="padding-bottom:5px;     vertical-align: middle;
                    width: 17px;"
                                    target="_blank">FollowUs</a>
                            </div>
                            <div class="row">
                                <!--Facebook-->

                                <button type="button"><a class="aa btn btn-fb" href="https://en-gb.facebook.com/login/"
                                        target="_blank"><i class="fa fa-facebook"></i></a></button>
                                <!--Twitter-->
                                <button type="button"><a class=" btn btn-fw" href="https://twitter.com/" target="_blank"><i
                                            class="fa fa-twitter"></i></a></button>
                                <!--Google +-->
                                <button type="button"><a class=" btn btn-gplus" href="https://plus.google.com/discover"
                                        target="_blank"><i class="fa fa-google-plus"></i></a></button>
                                <!--Linkedin-->
                                <button type="button"><a class="btn btn-li" href="https://www.linkedin.com/" target="_blank"><i
                                            class="fa fa-linkedin"></i></a></button>
                                <!--Instagram-->

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            </div>
        </nav>
    </footer>
</body>

</html>